body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.component { 
  display: flex;
  justify-content: space-around;
}

.slider-component { 
  flex: 0 1 700px;
}

.list-component ul{
  list-style: none;
}

.list-component ul{
  list-style: none;
}
